/*********************************************************************************
** The contents of this file are subject to the vtiger CRM Public License Version 1.0
* ("License"); You may not use this file except in compliance with the License
* The Original Code is:  vtiger CRM Open Source
* The Initial Developer of the Original Code is vtiger.
* Portions created by vtiger are Copyright (C) vtiger.
* All Rights Reserved.
********************************************************************************/
/* CSS Document */
.wallbuttons
{
margin-left:30px;
}


body{
  margin:0px 0px 0px 0px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  text-decoration:none;
#height:auto;  
}
.settingsUI {	
	text-align:left;
	background-color:#E9EDFB;	
	border:2px solid #5280FF;
}
.detailedViewTextBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border:1px solid #bababa;
	padding-left:5px;
	width:90%;
	background-color: #ffffff;
}
a {
	text-decoration:none;
	color: #0000FF;	
}

a:hover {
	text-decoration:underline;
	cursor:pointer;
	
}
.link {
  color: #07337A;
}
.link:hover {
  color: #000;
}
.MatrixLayer1{
	border:2px solid #D8DDEF;
	background-color:#EFF1F9
	position:relative;
	visibility:visible;
	/*margin:9px;
	height:280px;*/
}
.MatrixLayer2{
	border:2px solid #D8DDEF;
	background-color:#FFF;
	width:100%;
	position:relative;
	visibility:visible;
	/*margin:9px;
	height:280px;*/
}
.secHeadlistview{
  height: 20px;  
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000;   
}
.tableHeadBg{
  background-color:#C9E0F0;  
  height:25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000066;       
}
.lvtColData {
	background-color:#ffffff;
	font: normal 12px Arial, Helvetica, sans-serif;
	color:#000;
}
.lvtColDataHover {
	background-color:#EFF1F9;
	font: normal 12px Arial, Helvetica, sans-serif;
	color:#000;

}
.small3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height:20px;
	text-align:justify;
	padding:3px;
}

.buttonok {
	background-color: #BAD1F6;
	border:2px solid #8EB6F5;
	font: bold 11px Arial, Helvetica, sans-serif;
	color:#000;	
}

.createddate{
background-color: #BAD1F6;
color:#333344;
}
.fbdiv
{
display:none;
}
.postdiv
{
display:none;
}
.posttextarea
{
width:400px;
}

.FeedDetails
{
min-height:400px;
}
.tweet_text0{
background-color: #BAD1F6;
color:#000000;
padding: 10px;
}
.tweet_text1{
background-color: #EFF1F9;
color:#000000;
padding: 10px;
}
.commentdiv
{
display:none;
}
.singletweet
{
border-bottom: 1px solid #E8E8E8;
width:40%;

}
.singletweet1
{
border-bottom: 1px solid #D8D8D3;
background-color:#EFEFEA;
width:40%;

}
.replyicon
{
width:16px;
height:16px;
background:url(http://localhost/prem_fb3/vtigercrm/modules/SocialFeeds/tweeticons.png) 0 0;
}
.rowhover:hover
{
background-color:#F7f7f7;

}
.feedsdiv
{
border: 2px solid #EEEEEE;
margin: 0px 10px;
min-height: 400px;
padding: 0 20px;
width: 45%;
float:left;
}
.feedswrapper
{
width:100%;
}
.profpic
{
width:30px;
margin-bottom:5px;
}
.floatleft
{
float:left;
}
.floatright
{
float:right;
}
.tweetdiv
{
font-size:13px;
}
.profname
{
padding:0 8px;
float:left;
}
.tweetbox
{
 width: 80%;
float:left;
}
.tdclass
{
background-color: #DDDDDD;
background-image:url("images/layerPopupBg.gif");
}
.postonsocialmedia
{
#float: left;
#margin-left:26%;
 width: 100%;
padding:2%;
}

.tweetaddpic
{
width:20%;
float:left;
}
.buttonpluscharscount
{
margin-top:10%;
}
.composetweetbutton
{
margin-right:24%;
}
.tweetpostdiv
{
display:none;
}
.stats
{
margin: 0px 10px;
min-height: 400px;
padding: 0 20px;
width: 20%;
float:left;
}
.insidestats
{
margin-top:5%;
padding:2%;
}
.texttransform
{
text-transform:uppercase;
}
.prof_img{
padding:3px 0 0 3px;
}
.commentpadding
{
padding:0px 10px 0 3px;
}
.feedsdiv1
{
width:100%;
float:right;
}

#feedsdiv1 > table {
    width: 100%;
}
.displaybirthday
{
padding-left:5%;
}
